<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    通过set方法进行传参-->
    <bean id="phone1" class="com.soft1851.spring.ioc.com.soft1851.spring.mybatis.entity.Phone" p:brand="iPhone11" p:price="6666"/>
    <bean id="phone2" class="com.soft1851.spring.ioc.com.soft1851.spring.mybatis.entity.Phone" p:brand="iPhoneXS" p:price="8888"/>
<!--    通过构造方法进行传参-->
    <bean id="phone3" class="com.soft1851.spring.ioc.com.soft1851.spring.mybatis.entity.Phone">
        <constructor-arg value="诺基亚"></constructor-arg>
        <constructor-arg value="1000"></constructor-arg>
    </bean>


    <bean id="student1" class="com.soft1851.spring.ioc.com.soft1851.spring.mybatis.entity.Student">
    <property name="id" value="1001"/>
    <property name="name" value="Tom"/>
    <property name="hobbies">
        <list>
            <value>打游戏</value>
            <value>看电视</value>
            <value>玩手机</value>
        </list>
    </property>
        <property name="phone">
            <list>
                <ref bean="phone1" />
                <ref bean="phone2" />
            </list>
        </property>
    </bean>
    <bean id="student2" class="com.soft1851.spring.ioc.com.soft1851.spring.mybatis.entity.Student">
        <property name="id" value="1002"/>
        <property name="name" value="Tom"/>
        <property name="hobbies">
            <list>
                <value>打游戏</value>
                <value>运动</value>
                <value>编程</value>
            </list>
        </property>
        <property name="phone">
            <list>
                <ref bean="phone1" />
                <ref bean="phone2" />
            </list>
        </property>
    </bean>
    <bean id="grade" class="com.soft1851.spring.ioc.com.soft1851.spring.mybatis.entity.Grade">
        <property name="name" value="soft1851"></property>
        <property name="students">
            <map>
                <entry key="student1" value-ref="student1"></entry>
                <entry key="student2" value-ref="student2"></entry>
            </map>
        </property>
    </bean>
</beans>